// Typography
$font-family-main: "Nanum Gothic", sans-serif;
$font-family-headings: "Nanum Gothic", sans-serif;
$font-size: 1em;

// Padding
$padding-large: 20%;
$padding-small: 3%;
$padding-b-small: 1%;
$padding-x-small: 3%;

// Brand colours
$social-color: #767676;
$brand-color: #2b2525;
$background-color: #2b2525;
$border-color: rgba(106, 106, 106, 0.75); // rgba recommended if using feature images

// Typography colours
$text-color: #ccefbd;
$link-color: #ccefbd;
$selection-color: #47614c; // visible when highlighting text

// Tags color
$tags-color: #b0b0b0;

//Search color
$search-color: #98bfce;

// Header colours
$header-link-color: #ccefbd;
$header-brand-color: #310202;

// Feature image for articles
$feature-image-text-color: #ccefbd;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #2b2525;
$header-desc-text-color: #ccefbd;
$header-desc-link-color: #02453D;
